@import url('flex-utility.css');
@import url('textstile.css');
@import url('https://fonts.googleapis.com/css2?family=Lato:wght@300&display=swap');

.container{
    display:flex;
    flex-direction: column;
}
.bg_azure{
    background-color:#f4f6f9;
}
.phones{
    background-image:url('../imgs/phones.png');
    background-repeat: no-repeat;
    background-position: right;
}
.footplayer{
    width:55% !important;
    background-image: url("../imgs/footplayer.jpg");
    background-repeat:no-repeat;
    background-position:left;
    background-size: cover;
}
.riga1{
    display:flex;
    flex-direction: row;
    justify-content: space-between;
    width:100%;
    height:550px;
}
.box{
    padding-top:15px;
    padding-left:60px;
    width:35%;
    height:inherit;
    display:flex;
    flex-direction:column;
    align-items: flex-start;
    justify-content: space-around;
    border:1px black solid;
}
.nobord{
    padding-top:20px;
    padding-left:0;
}
.lato{
    font-family:'Lato';
}
.bold{
    font-weight: bold;
}
.btn_contain{
    display:flex;
    justify-content: space-between;
    width:350px;
}
.titol_size{
    font-size:30px;
}
.under_size{
    font-size:18px;
}
.normal{
    font-weight: normal;
} 
.imm{
    width:auto;
    height:550px;
}
.window{
    position:relative;
    top:-95px;
    left:80px;
    width:360px;
    height:180px;
    background-color:white;
}
.video{
    background-image:url('../imgs/video.jpg');
}

@media only screen and (min-width:275px) and (max-width:500px){ /**STILE PER MOBILE ***/

p{
    text-align:center;
}
.riga1{
    flex-direction: column;
}
.btn_contain{
    width:90%;
    justify-content: space-between;
}
.btn{
    width:45%;
    height:auto;
}
.phones{
    background-image:none;
}
.rev_col{
    flex-direction:column-reverse !important;
}
.box{
    padding:0;
    width:100%;
    align-items:center;
}
.titol_size{
    font-size:30px;
    letter-spacing: 3%;
}
.under_size{
    font-size:16px;
    margin:10px;
}
.imm{
    width:100%;
    height:auto;
}
.window{
    width:247px;
    height:149px;
}
}