@import url('mobile.css');
@import url('flex-utility.css');
@import url('textstile.css');

.container{
    display:flex;
    flex-direction: row;
}
.bg_azure{
    background-color:#f4f6f9;
}
.head{
    position:absolute;
    right:0;
    height:663px;
    background-image: url('../imgs/phones.png');
    background-repeat: no-repeat;
    background-position: right;
}
.logo{
    width:99px;
    height:32px;
}
.border{
    margin-left:30px;
    margin-top:30px;
}
.box{
    width:100%;
}
.underbox{
    width:50%;
}