/*foglio di stile dedicato agli schermi da cellulare*/
@media only screen and (max-width:500px){
  
.container{
    display:flex;
    justify-content: space-between;
    flex-direction:column;

}    
.logo{
    align-self: center;
}
.head{
    display:none; !important;
}
p{
    align-self:center;
}
.box{
    width:100%;
}









}