/*foglio di stile dedicato agli schermi da cellulare*/
@media only screen and (min-width:275px) and (max-width:500px){

.container{
    display:flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
} 
.head{
    background-image: none !important;
}  
.box{
    display:flex;
    flex-direction: column;
    align-items: center;
}
.underbox{
    width:auto;
    border:1px solid black;
}
.border{
    margin:0;
}
}